node_modules/
.newsh.json
.env*
!.env*.default
creaton.code-workspace
.vscode/*
!.vscode/settings.json.default
contracts/package-lock.json
package-lock.json
web/package-lock.json
contracts/package-lock.json
